<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<link href="css/reset.min.css" rel="stylesheet" type="text/css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<title>Untitled Document</title>
</head>
<body>
<div class="box_right">
	<div class="tit f_bold">
		<img alt="icon" src="image/icon.gif"> 사원 기본 정보 수정
	</div>
	<div class="page_menu f_bold">
		<ul class="li_left">
			<li><a href="#">교육정보</a></li>
			<li>|</li>
			<li><a href="#">자격증. 보유기술정보</a></li>
			<li>|</li>
			<li><a href="#">프로젝트 정보</a></li>
			<li>|</li>
			<li><a href="#">경력정보</a></li>
			<li>|</li>
			<li><a href="#">근무정보</a></li>
		</ul>
	</div>
	<form action="" method="post">
	<div class="page_box">
		<div class="page_in">
			<div class="page_mar">
				<label class="page_label">사원명</label>
				<input name="textfield3325" type="text" size="10">
				<label class="page_label">주민등록번호</label>
				<input name="textfield33252" type="text" size="6" maxlength="6"> - <input name="textfield33253" type="text" size="7" maxlength="7">
			</div>
		</div>
		<div class="page_in">
			<div class="page_line page_mar1">
				<label class="page11_1">대표자 이름</label>
				<input name="textfield4225" type="text" size="15">
				<label class="page11_2">사업자 등록번호 </label>
				<input name="textfield42223" type="text" size="15">
			</div>
			<div class="page_line page_mar1">
				<label class="page11_1">업종</label>
				<input name="textfield422" type="text" size="15">
				<label class="page11_2">업태</label>
				<input name="textfield4222" type="text" size="15">
			</div>
			<div class="page_line page_mar1">
				<label class="page11_1">사업장 주소</label>
				<input name="textfield4223" type="text" size="15"> <input name="textfield42232" type="text" size="40">
			</div>
			<div class="page_line page_mar1">
				<label class="page11_3">전화</label>
				<input name="textfield4224" type="text" size="3"> - <input name="textfield42242" type="text" size="4"> - <input name="textfield422422" type="text" size="4">
				<label class="page8_1">팩스</label>
				<input name="textfield42243" type="text" size="3"> - <input name="textfield422423" type="text" size="4"> - <input name="textfield4224222" type="text" size="4">
			</div>
			<div class="page_mar1">
				<label class="page11_3">핸드폰</label>
				<input name="textfield422432" type="text" size="3"> - <input name="textfield4224232" type="text" size="4"> - <input name="textfield42242222" type="text" size="4">
				<label class="page8_1">담당자</label>
				<input name="textfield4226" type="text" size="15">
			</div>
		</div>
		<div class="btn_all">
			<button type="submit"><img alt="remove" src="image/bt_remove.gif"></button>
			<button type="reset"><img alt="cancel" src="image/bt_cancel.gif"></button>
		</div>
	</div>
	</form>
</div>
</body>
</html>